
<div class = "hero">
  <div class="frosty col-10 offset-1 text-center">
  <html>

  <head>
    <link rel="stylesheet" type="text/css"href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap" rel="stylesheet">
  </head>

    <body>

      <div class="about">
      <img src="me.jpg" class="me" />

      <h1>Jordan Roszkowiak</h1>

      <h2>Software Engineer</h2>

      <br class="grey"/>
      <p class="bio">
        Jordan Roszkowiak is a beginner software engineer proficient in HTML/CSS and currently expanding her languages to include C#, Ruby on rails and Java.
      </p>
      <br />
      <br />
      <br />
      <br />
      </div>
    </body>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </html>
 </div>
</div>