// Styling for the post page
.post-preview {
  > a {
    color: #a9a9a9;
    &:focus,
    &:hover {
      text-decoration: none;
      color: #add8e6;
    }
    > .post-title {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    > .post-subtitle {
      font-weight: 300;
      margin: 0 0 10px;
    }
  }
  > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #d3d3d3;
    > a {
      text-decoration: none;
      color: #a9a9a9;
      &:focus,
      &:hover {
        text-decoration: underline;
        color: #add8e6;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 36px;
      }
    }
  }
}
